<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/img/default-avatar.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p class="user_name">Guest</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">HEADER</li>
      <li><a href="#"><i class="fa fa-link"></i> <span>Temp</span></a></li>

      <li class="treeview">
        <a href="#"><i class="fa fa-male"></i> <span>고객</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/customer/enroll">고객 등록</a></li>
          <li><a href="/customer/lookup">고객 조회 / 수정</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Employee</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/employee/admin">admin</a></li>
          <li><a href="/employee/lookup">lookup</a></li>
          <li><a href="/employee/timetable">timetable</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Entry_goods</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/entry-goods/inspection">inspection</a></li>
          <li><a href="/entry-goods/lookup">lookup</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-birthday-cake"></i> <span>이벤트</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/event/enroll">이벤트 등록</a></li>
          <li><a href="/event/lookup">이벤트 조회 / 수정</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-exclamation-triangle"></i> <span>예외 물품</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/exception-goods/enroll">예외물품 등록</a></li>
          <li><a href="/exception-goods/lookup">예외물품 조회 / 수정</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-star"></i> <span>편의점 전용상품</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/exclusive-product/enroll">편의점 전용상품 정보 등록 / 수정</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-archive"></i> <span>물품</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/goods/enroll">물품 등록</a></li>
          <li><a href="/goods/lookup">물품 조회 / 수정</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Living_services</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/living-services/delete">delete</a></li>
          <li><a href="/living-services/enroll">enroll</a></li>
          <li><a href="/living-services/lookup">lookup</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Order</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/order/enroll">enroll</a></li>
          <li><a href="/order/lookup">lookup</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Payment</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/payment/payment">payment</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-money"></i> <span>판매</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/sales/enroll">판매 등록</a></li>
          <li><a href="/sales/lookup">판매 조회</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Stock</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/stock/lookup">lookup</a></li>
          <li><a href="/stock/modify">modify</a></li>
        </ul>
      </li>


    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
